@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "Sarabun", sans-serif;
  color: white;
  background-color: black;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.kh-gradient {
  @apply bg-gradient-to-b from-[#0F1318] to-[#2F2D8B];
}

.kh-shadow {
  box-shadow: 0px 0px 25px 0px #ff4ee3;
}
